*{
	background-color: #003333;
}

#logo{
	border: 2px solid;
	margin-left: 20px;
	width: 20%;
	height: 15%%;
	position: relative;
	z-index: 10;
}

#menu ul{
	padding:0;
	margin-left: 42%;
	margin-top: 50px;
	list-style-type:none;
	display: inline-block;
	vertical-align: top;
}

#menu ul li{
	display: inline-block;	
	border-left:1px solid black;
}

#menu ul li a{
	display:block;
	float:left;   
	width:100px;
	line-height:50px;
	color: white;
	text-decoration:none;
	text-align:center;
	background-color: black;
}

#menu ul li input{
	background-color: black;
	display:block;
	float:left;   
	width:100px;
	line-height:50px;
	color:white;
	text-decoration:none;
	text-align:center;
}

#menu ul li a:hover{
	background-color: black;
	color:white;
}

h1{
	color: white;
}

p{
	color: white;
}