@viewport {
   width: device-width;
   zoom: 1;
}

@media screen and (max-width: 340px){
	img, table, td, blockquote, code, pre, textarea, input, iframe, object, embed, video {
		max-width: 100%;
	}
}

html { 
	height: 100%; 
	font-size: 1 rem 
}

body { 
	height: 100%; 
	margin: 0px; 
	padding: 0px 
}

h1 {
	font-size: 1.57rem
}